body{
background-image:url("https://c4.wallpaperflare.com/wallpaper/649/200/63/digital-art-artwork-abstract-wallpaper-preview.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;
}
